#pro
{
    background-color: black;
    display:flex;
    align-items: center ;
    justify-content: space-between;
    padding: 20px 80px ;
    background-color: rgb(11, 1, 13);
    box-shadow: grey;
    z-index: 999;
    position:sticky;
    top:0;
    left:0;
    color: azure;
}
#nag {
    display:flex;
    align-items: center ;
    justify-content: left;

    #active{
        text-decoration-line: overline;
        color:rgb(228, 7, 228);
        color: rgb(255, 0, 221);
    }
}
#nag li{
    list-style: none;
    padding:0 20px;
    font-size:16px;
    font-weight: 600;
}
#nag li a{
    text-decoration: none;
    font-family:sans-serif;
    color: azure;
}

    
    #nag li a:hover{
        text-decoration-line: overline;
        color:rgb(228, 7, 228);}

table{
    background: rgb(11, 1, 13);
    font-family: cursive;
    color: azure;
}
button::hover{
    background-color: blueviolet;
}